# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
*.env
.env
.env.*

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
out/
dist/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Project specific
infra/postgres_data/
